@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.inputFrom {
  @include flexbox.flexbox(center,center);
  border: 1px solid colors.$WHITE;
  border-radius: 10px;
  padding: 5px;

  svg {
    color: colors.$WHITE;
    fill: colors.$WHITE;
  }
  
  input {
    color:colors.$WHITE;
  }

  input::placeholder {
    color:colors.$WHITE;
  }
}